
body {
    background-color:black;
}

p{
    color:white;
}

a {
    color:white;
}

.container {
    margin:auto;
    width:50%;
    height:50%;
    text-align:center;
}

#canvas {
    margin:auto;
}